@charset "ISO-8859-1";
html,body {/*resetando o body*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link,a:active,a:visited{
color: #315e8a;
text-decoration: none;
}
.container{/*disparo o grid para ocupar toda a tela*/
	display:grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-areas:"h h" "m a"  "f f" ;
	justify-self: center;
	
}
header{
	background: yellow;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-area: h;
}
.menu{
	text-transform: uppercase;
	text-align: left;
	margin-top: 10px;
	font-weight: 525;
}
.menu li a{
	padding: 5px 10px;
	border-radius: 3px;
}
.menu li a:hover{
	text-decoration: none;
	background: #1f3c58;
	color: #ebebeb;
}
ul,li,ol,li{
	margin-bottom: 5px;
}
ul.inline li,ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.inline li:last-child,ol.inline li:last-child{
/*esse last traço child é para que o ultimo li não fique com margem e não exceda o limite da grid*/
	margin-right: 0;
}

ul.sem-marcador,ol.sem-marcador{
	list-style: none;
}


main{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-area: m;
	width: 100%;
    max-width: 1100px;
    margin: 0 auto;  
    background: white;
}
aside{
	background: green;
	grid-column-start: 3;
	grid-column-end: 3;
	grid-area: a;
}
.tet{
	text-align: center;
}
footer{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-area: f;
	background: #1f3c58;
	color: #ebebeb;
	padding: 20px 0;
	text-align: center;
	font-weight: 250;
}
